.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0 auto 10px;
  border: 0;
  border-radius: 50px;
  background-color: #ebe7f0 !important;
  text-align: center;
}

.button:hover {
  background-color: #f1e6fe !important;
}
