:root {
  --primary: #ebba28;
  --secondary: #85b0f41c;
  --accent: #bc4fef;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0 auto 10px;
  border: 0;
  border-radius: 50px;
  background-color: var(--primary) !important;
}
