@media (max-device-width: 480px) {
  .input-group {
    width: 50%;
  }
  .input-group input {
    max-width: 78px;
  }
  .select {
    width: 140px;
  }
}

.input-group {
  width: 100%;
}
.select {
  width: 200px;
}

.input-group input,
.select {
  border: 1px solid #cccc;
}
